body {
    background-color: rgb(250, 248, 246);
    font-family: "Jua", serif;
    color: #9f9b9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

section {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#fakeWindow {
    display: none;
    z-index: 2;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 10px 30px rgba(108, 92, 106, 0.319);
}

#fakeWindow::before {
    text-align: end;
    font-size: 15px;
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #e889a7;
    border-radius: 10px 10px 0 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: -15px;
    font-family: 'League Spartan', sans-serif;
    color:#e889a7;
}

.question p {
    font-size: 100px;
    margin-top: -15px;
    margin-bottom: -20px;
    font-family: 'Great Vibes', cursive;
    color:#e889a7;
}

.girl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 300px;
}

.girl div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.girl img {
    height: 100%;
    width: 100%;
}

.excited {
    display: none;
}

.neutral {
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#yes, #no {
    font-size: 30px;
    font-family: "Jua", serif;
    color: white;
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

#yes {
    background-color: #9edf5e;
}

#no {
    background-color: #df5e67;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#text {
    color: #9f9b9c;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.folder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.folder-container p {
    font-size: 30px;
    margin: 5px;
    color:#e889a7;
}

.folder {
    margin-top: 40px;
    margin-bottom: 0;
    width: 150px;
    height: 100px;
    background-color: #e889a7;
    border-radius: 10px;
    border-top-left-radius: 0;
    position: relative;
    transition: transform 0.3s ease, height 0.3s ease;
}

.folder::before {
    content: "";
    width: 30%;
    height: 30%;
    background-color:#EB7096;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: -15px;
    z-index: -2;
    transition: height 0.3s ease;
}

.folder::after {
    align-content: center;
    justify-content: center;
    text-align: center;
    content: "";
    width: 90%;
    height: 90%;
    background-color:#EBBAC2;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: -1;
    transition: top 0.3s ease;
}

.folder:hover::after {
    top: -20px;
}

.reveal {
    display: none;
    transition: all ease 10ms;
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    .question h1 {
        font-size: 35px;
    }

    .question p {
        font-size: 60px;
    }

    .girl {
        width: 170px;
        height: 170px;
    }

    .buttons {
        gap: 8px;
    }

    #yes, #no {
        font-size: 20px;
        padding: 5px 10px;
    }

    #text {
        font-size: 18px;
    }

    .folder-container p {
        font-size: 18px;
    }

    .folder {
        width: 100px;
        height: 70px;
    }
}
